@import './variables.scss';
.categories-container{
    padding: 1rem 0 0 0;
    height: calc(100% - 11rem);
    overflow-y: auto;
    button{
        background-color: transparent;
        border: none;
        height: 4rem;
        width: 90%;
        color: $main-text-color;
        font-size: 1rem;
        margin: 0 1rem 0 1rem;
        border-bottom: 1px solid rgba(255, 255, 255,0.2);
        cursor: pointer;
        text-align: left;
        &:hover{
            border-bottom: 1px solid rgba(255, 255, 255,0.8);
        }
    }
    }