@import './variables.scss';
.categories-container{
    padding: 3rem 0 0 0;
    button{
        background-color: transparent;
        border: none;
        height: 3rem;
        width: 100%;
        color: $main-text-color;
        font-size: 1.25rem;
    }
}