@import './variables.scss';
.create-post-container{
    width: calc((100% - 15rem)/2);
    height: 100vh;
    padding: 3rem;
    color: $second-main-color;
    input[type="text"]{
        width: 100%;
        border: 1px solid $first-main-color;

    }
}
.heading-input{
    height: 3rem;
    
}