@import './variables.scss';
.create-comment-container{
    form {
        @include flex-container;
        margin-top: 1rem;
        textarea{
            border: 1px solid $second-main-color;
            width: 70%;
            font: 12px sans-serif;
            padding: 0.3rem;
            height: 6rem;
            resize: none;
        }
        input[type="submit"]{
            width: 6rem;
            height: 2rem;
            margin-left: 1rem;
            background-color: $first-main-color;
            color: $main-text-color;
            border: none;
            border-radius: 0.2rem;

        }

    }

}
@media only screen and (max-width: 768px) {
    form textarea{
        width: 100%;
    }
}
