@import './variables.scss';
.create-post-container{
    width: calc((100% - 15rem)/2);
    height: 100vh;
    padding: 3rem;
    color: $second-main-color;
    input[type="text"], textarea{
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid $first-main-color;
        margin-top: 1rem;
        color: $second-main-color;
        padding: 0.5rem;

    }
    input[type="submit"]{
        height: 2rem;
        width: 7rem;
        background-color: $first-main-color;
        border: none;
        color: $main-text-color;

    }
}
.heading-input{
    height: 3rem;
}
.describe-input{
    height: 15rem;
    &::placeholder{
        font:12px sans-serif;
    }
}