@import './variables.scss';
.forum-container{
    width: 100%;
    height: 100vh;
    @include flex-container;
}
.profile-category-container{
    width: 15rem;
    height: 100%;
    background-color: $first-main-color;
}
.third-container{
   width: calc((100% - 15rem)/2);;
}
@media only screen and (max-width: 768px) {
    .forum-container{
        display: block;
        >div{
            width: 100%;
        }
    }
    .profile-category-container{
        height: 10rem;
        position: sticky;
        top: 0;
    }

}