@import './variables.scss';
.forum-container{
    width: 100%;
    height: 100vh;
    @include flex-container;
}
.profile-category-container{
    width: 15rem;
    height: 100vh;
    background-color: $first-main-color;
}