@import './variables.scss';
.posts-container{
    width: calc((100% - 15rem)/2);
    height: 100vh;
    background-color: $second-main-color;
    color: $main-text-color;
}
.posts-general{
    @include flex-container;
    justify-content: space-between;
    @include shadow-container;
    height: 5rem;
    padding: 1rem;
    div input{
        margin-right: 1rem;
        background-color: $second-main-color;
        border: none;
        border-bottom: 1px solid $main-text-color;
        color: $main-text-color;
        padding: 0.2rem;
        outline: none;

    }
    div button{
        height: 2rem;
        width: 5rem;
        background-color: $first-main-color;
        border: none;
        color: $main-text-color;
        border-radius: 1rem;
        cursor: pointer;
    }
}