@import './variables.scss';
.post{
    width: calc((100% - 15rem)/2);
    height: 100vh;
    padding: 3rem;
    color: $second-main-color;
    h2{
        color: $second-main-color;
        font-size: 2.5rem;
    }

}
.post-user-container{
    @include flex-container;
    justify-content: left;
    margin: 2rem 0 2rem 0;
    img{
        height: 3rem;
        margin-right: 1rem;
    }
    span{
        color: $first-main-color;
    }
}
.reactions-container{
    @include flex-container;
}