@import './variables.scss';
.post{
    width: calc((100% - 15rem)/2);
    height: 100vh;
    padding: 3rem;
    color: $second-main-color;
    overflow-y: auto;
    h2{
        color: $second-main-color;
        font-size: 2.5rem;
    }

}
.post-user-container{
    @include flex-container;
    justify-content: left;
    margin: 2rem 0 2rem 0;
    img{
        height: 3rem;
        margin-right: 1rem;
    }
    span{
        color: $first-main-color;
    }
}
.reactions-container{
    @include flex-container;
    border-bottom: 1px solid rgba(94, 132, 140, 0.2);
    p{
        margin: 1rem;
        @include flex-container;
        cursor: pointer;
        img{
            height: 20px;
            margin-right: 0.5rem;
        }
    }

}
.unlike{
    transform: rotate(180deg);
}