@import './variables.scss';
.posts-container{
    width: calc((100% - 15rem)/2);
    height: 100vh;
    background-color: $second-main-color;
    color: $main-text-color;
}
.posts-general{
    @include flex-container;
    justify-content: space-between;
    @include shadow-container;
    height: 5rem;
    padding: 1rem;
    h2{
        color: $main-text-color ;
    }
    div button{
        height: 2rem;
        width: 6rem;
        background-color: $first-main-color;
        border: none;
        color: $main-text-color;
        border-radius: 0.2rem;
        cursor: pointer;
    }
}
.posts{
    height: calc(100vh - 5rem);
    overflow-y: auto;
}
@media only screen and (max-width: 768px) {
    .posts-container{
        height: calc(100vh - 10rem);
    }
    .posts{
        height: calc(100vh - 10rem);
    }
}