@import './variables.scss';
.profile-container{
    @include flex-container;
    height: 8rem;
    img{
        height: 3rem;
        margin: 1rem 0.5rem 1rem 0;
    }
    p{
        color: $main-text-color;
    }
}