@import './variables.scss';
.profile-container{
    @include flex-container;
    img{
        height: 3rem;
    }
    p{
        color: $main-text-color;
        outline: none;
        margin: 0;
    }
}