@import './variables.scss';
.register{
    height: 100%;
    width: 60%;
    background-color: #ffffff;
    position: relative;
    margin: 1rem;
}
h1{
    text-align: center;
    color: $second-main-color;
}
form{
    @include flex-container;
    flex-direction: column;
    input[type="email"], input[type="password"]{
        width: 80%;
        height: 2rem;
        margin: 1rem;
        padding: 0.2rem;
        border: none;
        border-bottom: 1px solid $second-main-color;
        color: $second-main-color;
        outline: none;
    }
    input[type="submit"]{
        width: 7rem;
        height: 2rem;
        background-color: $second-main-color;
        border: none;
        cursor: pointer;
        color: $main-text-color;
    }
}
.back{
    position: absolute;
    top: 1rem;
    left: 1rem;
    img{
        height: 20px;
        cursor: pointer;
    }
}