@import './variables.scss';
div form{
    @include flex-container;
    flex-direction: column;
    input[type="email"], input[type="password"]{
        width: 20rem;
        height: 2rem;
        margin: 1rem;
        padding: 0.2rem;
        border: none;
        border-bottom: 1px solid $second-main-color;
        color: $second-main-color;
        outline: none;
    }
    input[type="submit"]{
        width: 7rem;
        height: 2rem;
        background-color: $second-main-color;
        border: none;
        cursor: pointer;
        color: $main-text-color;
    }
}