@import './variables.scss';

.short-post-container{
    width: 100%;
    height: 5rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255,0.2);
    p{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 90%;
    }
}