@import './variables.scss';
.signin-container{
height: 100vh;
position: relative;
@include flex-container;
background-color: $first-main-color;
> div{
    width: 60rem;
    height: 70vh;
    background-color: #ffffff;
    display: flex;
    -webkit-box-shadow: 2px 0px 68px -18px rgba(0,0,0,1);
    -moz-box-shadow: 2px 0px 68px -18px rgba(0,0,0,1);
    box-shadow: 2px 0px 68px -18px rgba(0,0,0,1);
}
}
.welcome-container{
    width: 50%;
    height: 100%;
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.buttons-container{
    width: 50%;
    height: 100%;
}