@import './variables.scss';
.signin-container{
width: 100%;
height: 100vh;
background-color: $second-main-color;
@include flex-container;
div{
    width: 50rem;
    height: 80vh;
    background-color: rgba($main-text-color, $alpha: 0.2);
}
}