@import './variables.scss';
.signin-container{
    min-height: 100%;
    position: relative;
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include flex-container;
    > div{
        width: 60rem;
        display: flex;
        -webkit-box-shadow: 2px 0px 68px -13px rgba(0,0,0,1);
        -moz-box-shadow: 2px 0px 68px -13px rgba(0,0,0,1);
        box-shadow: 2px 0px 68px -13px rgba(0,0,0,1);
        margin: 0.5rem;
    }
}
.welcome-container{
    width: 40%;
    height: 100%;
    background-color: rgba(77, 182, 177,0.4);
    @include flex-container;
    h1{
        color: $main-text-color;
        text-align: center;
    }
}
.sign-in-register{
    width: 60%;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    @include flex-container;
    flex-direction: column;
   .sign-in-email{
        @include flex-container;
        flex-direction: column;
        width: 100%;
        h2{
            color: $second-main-color;
        }
        p{
            color: red;
            margin: 0.5rem
        }
        form{
            @include flex-container;
            flex-direction: column;
            width: 100%;
            input[type="email"], input[type="password"]{
                width: 80%;
                height: 2rem;
                margin: 1rem;
                padding: 0.2rem;
                border: none;
                border-bottom: 1px solid $second-main-color;
                color: $second-main-color;
                outline: none;
            }
            input[type="submit"]{
                width: 7rem;
                height: 2rem;
                background-color: $second-main-color;
                border: none;
                cursor: pointer;
                color: $main-text-color;
            }
        }
    }
}
.register-info{
    margin: 1rem;
    color: $second-main-color;
    width: 100%;
    @include flex-container;
    flex-direction: column;
    span{
        color: $first-main-color;
        cursor: pointer;
    }
}
.additional-logging{
    display: flex;
    align-items: center;
    color: $second-main-color;
    height: 10rem;
    img{
        height: 32px;
        margin: 0.5rem;
        cursor: pointer;
        &:hover{
        transform: rotate(1080deg);
        transition: 2s;
        }
    }
}
.guest-btn{
    width: 7rem;
    height: 2rem;
    border: 2px solid $second-main-color;
    background-color: #fff;
    color: $second-main-color;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .signin-container{
        width: 100%;
        height: 100vh;
        > div{
            flex-direction: column;
            width: 100%;
            height: 100vh;
            margin: 0;
        }
    }
    .sign-in-register{
        width: 100%;
    }
    .welcome-container{
        width: 100%;
        height: 5rem;
    }
}