@import './variables.scss';
.signin-container{
width: 100%;
height: 100vh;

@include flex-container;
div{
    width: 60rem;
    height: 70vh;
    background-color: rgba($second-main-color, $alpha: 0.3);
}
}