@import './variables.scss';
.signin-container{
width: 100%;
height: 100vh;
background-color: #ecf0f1;
@include flex-container;
> div{
    width: 60rem;
    height: 70vh;
    background-color: rgba($second-main-color, $alpha: 1);
    display: flex;
}
}
.welcome-container{
    width: 50%;
    height: 100%;
    background-image: url('../background.jpg');
}
.buttons-container{
    width: 50%;
    height: 100%;
}