@import './variables.scss';
.signin-container{
width: 100%;
height: 100vh;
background-color: #ecf0f1;
background-image: url('../background.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
@include flex-container;
&::before{
content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .4; 
  z-index: -1;
  background-image: url('../background.jpg');
}
> div{
    width: 60rem;
    height: 70vh;
    background-color: #ffffff;
    display: flex;
    -webkit-box-shadow: 2px 0px 56px -18px rgba(0,0,0,1);
    -moz-box-shadow: 2px 0px 56px -18px rgba(0,0,0,1);
    box-shadow: 2px 0px 56px -18px rgba(0,0,0,1);
}
}
.welcome-container{
    width: 50%;
    height: 100%;
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.buttons-container{
    width: 50%;
    height: 100%;
}