@mixin flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
$first-main-color : #4db6b1;
$second-main-color: #5e848c;
$main-text-color: #ffffff;
@mixin shadow {
    -webkit-box-shadow: 0px 14px 24px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 24px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 24px -17px rgba(0,0,0,0.75);
}